<nav id="sidebar" class="bg-dark sidebar" >
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let menu of _sidebarService.menu">
                <a class="nav-link" [href]="[menu.href]" data-bs-toggle="collapse">
                    <i class="bi bi-house-door"></i> {{menu.title}}
                </a>
                <div [id]="menu.id" class="collapse">
                    <ul class="nav flex-column pl-2">
                        <li class="nav-item" *ngFor="let submenu of menu.submenu">
                            <a class="nav-link" [routerLink]="[submenu.url]">
                                {{submenu.title}}
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>