<!-- Encabezado -->
<app-header></app-header>

<!-- Barra lateral -->
<app-slidebar></app-slidebar>

<!-- Contenido principal (Aquí iría el contenido específico de la página) -->
<div class="page-wrapper"  style="margin-left: 250px; padding: 20px;">
    <div class="container-fluid">
        <!-- <app-breadcrumbs></app-breadcrumbs> -->
        <!--<router-oulet></router-oulet>-->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        this is some text eithin a card
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

