<div class="row">
    <div class="col-12">
        <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto">
            <div class="card-header">
                <h1>Detalles del Estudiante</h1>
            </div>
            <div class="card-body">
                <div class="row" *ngIf="student">
                    <div class="col-6">
                        <form [formGroup]="formEstudent" (ngSubmit)="onSubmit()">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre: </label>
                                <input type="text" class="form-control" id="name" aria-describedby="name" formControlName="name">
                                <app-form-control-error formControlName="name"></app-form-control-error>
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label">Edad: </label>
                                <input type="number" class="form-control" id="age" aria-describedby="age" formControlName="age">
                                <app-form-control-error formControlName="age"></app-form-control-error>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Dirección de residencia: </label>
                                <input type="text" class="form-control" id="address" aria-describedby="address" formControlName="address">
                                <!-- <app-form-control-error formControlName="address"></app-form-control-error> -->
                            </div>
                            <button type="submit" class="btn btn-primary" [disabled]="!formEstudent.valid">Actualizar información</button>
                        </form>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form (submit)="onSumbiQualification()">
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">
                                                        <i class="bi bi-person"></i>
                                                    </span>
                                                    <input type="text" [(ngModel)]="newQualification.subject" name="name" class="form-control" placeholder="Ingrese una cualificación" id="nombre">
                                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Mis Cualificaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let qualification of student.qualifications; let i = index">
                                            <td>{{qualification.subject}}</td>
                                            <td>
                                                <a (click)="removeQualification(i)" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                                    <i class="bi bi-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>