<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table datatable  class="table table-striped">
                        <thead class="sticky-top">
                            <tr>
                                <th>Nombre</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody #row>
                            <tr *ngFor="let student of students">
                                <td>{{ student.name}}</td>
                                <td><a [routerLink]="['/student-detail']">{{ student.id }}</a></td>
                            </tr>
                        </tbody>
                        <tfoot class="grey lighten-5 w-100">
                            <tr>
                                <td colspan="2"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>